<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Chat Demo</title>
  <link rel="stylesheet" href="{{ =URL('static', 'chat.css') }}" type="text/css"/>
</head>
<body>
  <h3>Webchat using <a href="http://web2py.com">Web2py</a> served with gevent to exemplify async calls</h3>

  {{ block content }} {{ include }} {{ end }}
</body>
</html>
